<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <label class="checkbox-group-label">Manage Payments or Reversed Payments:</label>
    <div class="checkbox-group">
      <mat-checkbox
        [(ngModel)]="isActive"
        (change)="onCheckboxChange('active')"
        name="isActive"
      >
        Payments
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="isInactive"
        (change)="onCheckboxChange('inactive')"
        name="isInactive"
      >
        Reversed Payments
      </mat-checkbox>
    </div>
  </mat-card-content>
</mat-card>
<div class="mat-elevation-z8">
  <mat-card-content class="p-24" style="overflow-y: auto; max-height: calc(100vh - 200px);">
    <table mat-table [dataSource]="dataSource" matSort class="no-wrap v-middle w-100">

      <!-- Payment Date Column -->
      <ng-container matColumnDef="paymentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-15 f-w-600" style="color: white;">Payment Date</th>
        <td mat-cell *matCellDef="let payment" style="color: white;">{{ payment.paymentDate | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <!-- Book Number Column -->
      <ng-container matColumnDef="bookNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-15 f-w-600" style="color: white;">Book Number</th>
        <td mat-cell *matCellDef="let payment" >{{ payment.bookNumber }}</td>
      </ng-container>

      <!-- Owner Name Column -->
      <ng-container matColumnDef="accountName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-15 f-w-600" style="color: white;">Owner Name</th>
        <td mat-cell *matCellDef="let payment" style="color: white;">{{ payment.accountName }}</td>
      </ng-container>

      <!-- Payment Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="f-s-15 f-w-600" style="color: white;">Payment Amount</th>
        <td mat-cell *matCellDef="let payment" >{{ payment.amount | currency:'R' }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="f-s-15 f-w-600" style="color: white;">Action</th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <div  *ngIf="isActive" class="row justify-content-space-around">            
            <button mat-icon-button [ngStyle]="{'color':'#079ade'}"  [matMenuTriggerFor]="menu" aria-label="Menu">
              <i-tabler name="menu" class="icon-18"></i-tabler>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="reversePayment( element)">
                <i-tabler name="eye" class="icon-18"></i-tabler>
                reverse
              </button>              
            </mat-menu>
          </div>
        </td>
      </ng-container>
      <!-- Table Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</div>
