<mat-card class="cardWithShadow">
  <div class="radio-group-label-container">
    <label class="radio-group-label">Manage Active or Inactive Building Accounts:</label>
    <mat-radio-group [(ngModel)]="manageActiveBuildingAccounts" (change)="loadBuildingAccountListData()" name="isActive" class="w-100">
      <mat-radio-button [value]="true">Active</mat-radio-button>
      <mat-radio-button [value]="false">Inactive</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput #searchInput placeholder="Search Building Account" (keyup)="applyFilter(searchInput.value)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
          Add Building Account
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive" style="overflow-x: auto;">
      <table mat-table [dataSource]="dataSource" matSort class="w-100" style="width: 100%; table-layout: fixed;">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600" style="text-align: center; width: 80px;">#</th>
          <td mat-cell *matCellDef="let element" style="text-align: center; width: 80px;">{{ element.id }}</td>
        </ng-container>

        <!-- Building Name Column -->
        <ng-container matColumnDef="buildingName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600">Building Name</th>
          <td mat-cell *matCellDef="let element">
            <p class="f-w-600 mat-subtitle-1 f-s-16 m-t-0">{{ element.buildingName }}</p>
          </td>
        </ng-container>        

        <!-- Municipality One Column -->
        <ng-container matColumnDef="municipalityOne">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600">Municipality One</th>
          <td mat-cell *matCellDef="let element">{{ element.municipalityOne }}</td>
        </ng-container>

        <!-- Municipality Two Column -->
        <ng-container matColumnDef="municipalityTwo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600">Municipality Two</th>
          <td mat-cell *matCellDef="let element">{{ element.municipalityTwo }}</td>
        </ng-container>

        <!-- Reading Slip Column -->
        <ng-container matColumnDef="readingSlip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600">Reading Slip</th>
          <td mat-cell *matCellDef="let element">
            <p class="f-w-600 mat-subtitle-1 f-s-16 m-t-0">{{ element.readingSlip }}</p>
          </td>
        </ng-container>

        <!-- Credit Control Column -->
        <ng-container matColumnDef="creditControl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-s-16 f-w-600">Credit Control</th>
          <td mat-cell *matCellDef="let element" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
            {{ element.creditControl }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" style="text-align: center; width: 120px;">Action</th>
          <td mat-cell *matCellDef="let element" class="action-link" style="text-align: center; width: 120px;">
            <a 
              (click)="openDialog('Update', element)" 
              class="m-r-10 cursor-pointer" 
              style="margin-right: 10px; cursor: pointer;"
              aria-label="Edit Building Account"
            >
              <i-tabler name="edit" class="icon-18"></i-tabler>
            </a>
            <a 
              *ngIf="manageActiveBuildingAccounts" 
              (click)="openDialog('Delete', element)" 
              class="m-r-10 cursor-pointer" 
              style="margin-right: 10px; cursor: pointer;"
              aria-label="Delete Building Account"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
