<div [formGroup]="accountsForm">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Building</mat-label>
    <mat-select formControlName="buildingId">
      <mat-option *ngFor="let building of filteredBuildings" [value]="building.id">
        {{ building.name }}
      </mat-option>
    </mat-select>
    <input matInput [formControl]="buildingFilterCtrl" placeholder="Filter buildings">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Municipality One</mat-label>
    <input matInput formControlName="municipalityOne">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Municipality Two</mat-label>
    <input matInput formControlName="municipalityTwo">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Reading Slip</mat-label>
    <input matInput formControlName="readingSlip">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Credit Control</mat-label>
    <input matInput formControlName="creditControl">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Center Owner</mat-label>
    <input matInput formControlName="centerOwner">
  </mat-form-field>

  <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>

  <div class="form-actions">
    <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
  </div>
</div>
