<mat-card class="cardWithShadow">
    <mat-card-content class="p-24" style="overflow-y: auto; max-height: 750px;">
      <div *ngIf="invoiceDetail" #invoice>
        <div class="row m-b-24">
          <div class="col-sm-4 d-flex align-items-center">
            <h4 class="mat-subtitle-2 f-s-18 f-w-600" style="color: white;"># {{ invoiceDetail.referenceNumber }}</h4>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row p-y-24">
          <div class="col-sm-6">
            <span class="f-w-600 f-s-15 mat-body-1" style="color: white;">Invoice Status:</span>
            <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
              <span
                style="padding: 4px 8px; font-weight: 600; border-radius: 16px; font-size: 12px;"
                [ngStyle]="{
                  'background-color': getStatusColor(invoiceDetail.status),
                  'color': 'rgba(0, 0, 0, 0.8)'
                }"
              >
                {{ mapStatusToString(invoiceDetail.status) }}
              </span>
            </h6>
          </div>
          <div class="col-sm-6 text-right">
            <span class="f-w-600 f-s-15 mat-body-1" style="color: white;">Invoice Date:</span>
            <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ invoiceDetail.invoiceDate | date: 'fullDate' }}</h6>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row p-y-24">
          <div class="col-sm-6 text-left">
            <span class="f-w-600 f-s-15 mat-body-1" style="color: white;">Bill To: {{ foundOwnerAccount?.name }}</span>
            <p class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ foundOwnerAccount?.address }}</p>
          </div>
        </div>
        <form [formGroup]="invoiceForm">
          <div class="b-1 table-responsive">
            <table mat-table [dataSource]="dataSource" class="no-wrap v-middle w-100">
              <ng-container matColumnDef="itemName">
                <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600" style="color: white;">Item Name</th>
                <td mat-cell *matCellDef="let element" style="color: white; font-weight: bold;">{{ element.itemName }}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600" style="color: white;">Description</th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
              </ng-container>
              <ng-container matColumnDef="unitPrice">
                <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600" style="color: white;">Unit Price</th>
                <td mat-cell *matCellDef="let element">{{ element.unitPrice | currency: 'R' }}</td>
              </ng-container>
              <ng-container matColumnDef="units">
                <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600" style="color: white;">Units</th>
                <td mat-cell *matCellDef="let element">{{ element.units }}</td>
              </ng-container>
              <ng-container matColumnDef="lineDiscount">
                <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600" style="color: white;">Discount</th>
                <td mat-cell *matCellDef="let element">{{ element.lineDiscount | currency: 'R' }}</td>
              </ng-container>
              <ng-container matColumnDef="itemTotal">
                <th mat-header-cell *matHeaderCellDef class="f-s-15 f-w-600" style="color: white;">Total Cost</th>
                <td mat-cell *matCellDef="let element" style="color: white; font-weight: bold;">{{ element.itemTotal | currency: 'R' }}</td>
              </ng-container>
              <ng-container matColumnDef="creditNoteValue">
                <th mat-header-cell *matHeaderCellDef>Credit Value</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <mat-form-field appearance="outline" class="w-100 hide-hint">
                    <input matInput type="number" [formControlName]="i" (input)="onCreditNoteValueChanged($event, i)" min="0">
                  </mat-form-field>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
          <div class="button-group d-flex justify-content-between m-t-30">
            <button mat-stroked-button (click)="closeDialog()" color="primary" class="m-r-10">Back</button>
            <button mat-flat-button color="primary" (click)="submitCreditNote()" [disabled]="invoiceForm.invalid">Submit Credit Note</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  